<div>
  <nz-table
    #basicTable
    nzBordered
    [nzFrontPagination]="false"
    [nzData]="postList"
    [nzTotal]="total"
    [(nzPageIndex)]="pageIndex"
    [nzPageSize]="pageSize"
    (nzPageIndexChange)="getPostList()"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>标题</th>
        <th>摘要</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>更新时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.abstract }}</td>
        <td>
          <nz-tag [nzColor]="getPostStatusColor(data.status)">
            {{ getPostStatusName(data.status) }}
          </nz-tag>
        </td>
        <td>{{ data.createAt | date: 'yyyy:MM:dd HH:mm' }}</td>
        <td>{{ data.updateAt | date: 'yyyy:MM:dd HH:mm' }}</td>
        <td>
          <button
            nz-button
            nzSize="small"
            routerLink="/admin/post/edit"
            [queryParams]="{ id: data.id }"
          >
            编辑
          </button>
          <span>&nbsp;</span>
          <ng-container *ngIf="showPublishBtn(data.status)">
            <button
              nz-button
              nzSize="small"
              nzType="primary"
              nz-popconfirm
              nzTitle="确认要发布吗?"
              (nzOnConfirm)="onPublish(data.id)"
            >
              发布
            </button>
            <span>&nbsp;</span>
          </ng-container>
          <button
            *ngIf="showDeleteBtn(data.status)"
            nz-button
            nzSize="small"
            nzType="danger"
            nz-popconfirm
            nzTitle="确认要删除吗?"
            (nzOnConfirm)="onDelete(data.id)"
          >
            删除
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
