#header {
  padding: 0 5%;
  height: 60px;
  background: #fff;
  .ant-menu-horizontal {
    border-bottom: none;
    max-width: 1400px;
    margin: 0 auto;
  }
  .menu-item {
    height: 60px;
    line-height: 60px;
  }
  .account-actions {
    position: absolute;
    top: 0;
    right: 30px;
  }
}
#main {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1400px;
  min-height: calc(100vh - 50px);
  .aside {
    background: transparent;
    margin-left: 10px;
  }
}
