<div *ngIf="!isSingleView">
  <nz-layout *ngIf="!isSingleView">
    <nz-header id="header">
      <ul nz-menu nzMode="horizontal">
        <li
          class="menu-item"
          routerLinkActive="ant-menu-item-selected"
          [routerLinkActiveOptions]="{exact: true}"
          nz-menu-item
          routerLink="/"
        >
          全部
        </li>
        <li
          class="menu-item"
          routerLinkActive="ant-menu-item-selected"
          [routerLinkActiveOptions]="{exact: true}"
          nz-menu-item
          *ngFor="let cat of catList"
          [routerLink]="['/category', cat.id]"
        >
          {{ cat.name }}
        </li>
      </ul>
    </nz-header>
    <nz-layout id="main">
      <nz-content><router-outlet></router-outlet></nz-content>
      <nz-sider class="aside" nzWidth="300">
        <nz-card nzTitle="Welcome">
          <p>欢迎来到DD博客系统</p>
        </nz-card>
      </nz-sider>
    </nz-layout>
  </nz-layout>
</div>
<div *ngIf="isSingleView">
  <router-outlet></router-outlet>
</div>
