.user-profile {
  .form-item {
    margin: 10px;
    padding: 10px;
  }
  .form-label,
  .form-control {
    display: inline-block;
  }

  .form-label {
    width: 100px;
    text-align: right;
  }

  .form-control {
    width: 200px;
    margin-left: 10px;
  }
}
