<div class="password-form">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixUser">
          <input
            formControlName="oldpassword"
            type="password"
            nz-input
            autocomplete="new-password"
            placeholder="旧密码"
          />
        </nz-input-group>
        <nz-form-explain
          *ngIf="
            validateForm.get('oldpassword')?.dirty &&
            validateForm.get('oldpassword')?.errors
          "
        >
          <span>请输入密码!</span>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixLock">
          <input
            nz-input
            formControlName="password"
            type="password"
            autocomplete="new-password"
            placeholder="密码"
          />
        </nz-input-group>
        <nz-form-explain
          *ngIf="
            validateForm.get('password')?.dirty &&
            validateForm.get('password')?.errors
          "
        >
          <span>请输入新密码!</span>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixLock">
          <input
            nz-input
            formControlName="repassword"
            type="password"
            autocomplete="new-password"
            placeholder="确认密码"
          />
        </nz-input-group>
        <nz-form-explain
          *ngIf="
            validateForm.get('repassword')?.dirty &&
            validateForm.get('repassword')?.errors
          "
        >
          <span>请输入确认密码!</span>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button
          nz-button
          class="mr-10"
          [nzLoading]="isLoading"
          nzType="primary"
        >
          确定修改
        </button>
        <button nz-button (click)="validateForm.reset()">
          重置
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
