.post-comments {
  background: #fff;
  padding: 20px;
  padding-bottom: 50px;

  .comment-content {
    padding: 5px;
  }

  .post-comment-item {
    border-bottom: 1px solid #ddd;
    padding: 5px;
  }

  .userName, .toUserName {
    color: #1890ff;
  }
}
