<div class="posts">
  <app-page-title title="文章"></app-page-title>
  <div class="post-empty" *ngIf="postList.length === 0 && !isLoading">
    <span class="f-16">暂无数据！</span>
  </div>
  <nz-spin [nzSpinning]="isLoading">
    <div class="loading-content" *ngIf="isLoading"></div>
    <div class="post-item" *ngFor="let post of postList">
      <div class="post-title">{{ post.title }}</div>
      <div class="post-abstract">{{ post.abstract }}</div>
      <div class="post-footer">
        <div class="f-left">
          <span [title]="post.updateAt | date: 'yyyy:MM:dd HH:mm'">
            <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
            <span class="pl-5">{{ post.updateAt | timeago }}</span>
          </span>
          <span class="ml-10">
            <i nz-icon nzType="folder" nzTheme="outline"></i>
            <span class="pl-5">{{ post.categoryName }}</span>
          </span>
          <span class="ml-10">
            <i nz-icon nzType="user" nzTheme="outline"></i>
            <span class="pl-5">{{ post.authorName }}</span>
          </span>
        </div>
        <div class="f-right">
          <a [routerLink]="['/post', post.id]">
            <span>查看更多&nbsp;</span>
            <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
          </a>
        </div>
      </div>
    </div>
  </nz-spin>
  <nz-pagination
    *ngIf="postList.length > 0"
    [(nzPageIndex)]="pageIndex"
    [nzTotal]="pageTotal"
    [nzPageSize]="pageSize"
    (nzPageIndexChange)="onPageChange($event)"
  ></nz-pagination>
</div>
