.admin-login {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url("../../../assets/bg.jpg");
}

.login-panel {
  width: 400px;
  height: 400px;
  padding: 0 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.5);
  background-color: #f8f8f8;
}
