<div class="admin-reset-password">
  <div class="transform-center reset-password-panel">
    <div class="font-weight-bold f-20 t-center pt-30">
      <span>重置密码</span>
    </div>
    <div class="mt-30">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixMail">
              <input
                formControlName="email"
                nz-input
                autocomplete="off"
                placeholder="邮箱" />
            </nz-input-group>
            <nz-form-explain
              *ngIf="validateForm.get('email')?.dirty &&
              validateForm.get('email')?.errors">
              <span>请输入有效邮箱!</span>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group
              nzSearch
              [nzPrefix]="prefixCode"
              [nzAddOnAfter]="suffixButton">
              <input
                nz-input
                formControlName="code"
                autocomplete="off"
                placeholder="验证码" />
            </nz-input-group>
            <nz-form-explain
              *ngIf="validateForm.get('code')?.dirty &&
              validateForm.get('code')?.errors">
              <span>请输入验证码!</span>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixLock">
              <input
                formControlName="password"
                nz-input
                type="password"
                autocomplete="new-password"
                placeholder="新密码" />
            </nz-input-group>
            <nz-form-explain
              *ngIf="validateForm.get('password')?.dirty &&
              validateForm.get('password')?.errors">
              <span>请输入新密码!</span>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button
              nz-button
              nzBlock
              [nzLoading]="isLoading"
              nzType="primary">
              确定
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
      <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
      <ng-template #prefixCode><i nz-icon type="inbox"></i></ng-template>
      <ng-template #prefixMail><i nz-icon type="mail"></i></ng-template>
      <ng-template #suffixButton>
        <button
          nz-button
          nzSearch
          type="button"
          nzType="primary"
          [disabled]="lockBtn"
          (click)="onGetVerifyCode()">{{lockBtn ? restTime : "获取"}}</button>
      </ng-template>
    </div>
  </div>
</div>
