<div>
  <button nz-button nzType="primary" (click)="onOpenEdit()">新增</button>
  <hr />
  <nz-table
    #basicTable
    nzBordered
    [nzData]="catList"
    [nzShowPagination]="false"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>名称</th>
        <th>别名</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>更新时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.alias }}</td>
        <td>
          <nz-tag [nzColor]="getCategoryStatusColor(data.status)">
            {{ data.status_name }}
          </nz-tag>
        </td>
        <td>{{ data.createAt | date: 'yyyy:MM:dd HH:mm' }}</td>
        <td>{{ data.updateAt | date: 'yyyy:MM:dd HH:mm' }}</td>
        <td>
          <button nz-button (click)="onOpenEdit(data)">编辑</button>
          <span>&nbsp;&nbsp;</span>
          <button
            *ngIf="categoryStatus.DEFAULT === data.status"
            nz-button
            nzType="danger"
            (click)="onUpdateCategoryStatus(data, categoryStatus.DELETED)"
          >
            删除
          </button>
          <button
            *ngIf="categoryStatus.DELETED === data.status"
            nz-button
            (click)="onUpdateCategoryStatus(data, categoryStatus.DEFAULT)"
          >
            设置正常
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-modal
    [(nzVisible)]="visibleEdit"
    [nzTitle]="editTitle"
    [nzFooter]="modalFooter"
    (nzOnCancel)="onCancelEdit()"
  >
    <form nz-form nzLayout="vertical" [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label>分类ID</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            value="{{ validateForm.get('catId').value }}"
            [disabled]="true"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>名字</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="name" />
        </nz-form-control>
        <div
          class="has-error"
          *ngIf="
            validateForm.get('name')?.dirty && validateForm.get('name')?.errors
          "
        >
          <nz-form-explain>
            <span>请输入名字!</span>
          </nz-form-explain>
        </div>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>别名</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="alias" />
        </nz-form-control>
        <div
          class="has-error"
          *ngIf="
            validateForm.get('alias')?.dirty &&
            validateForm.get('alias')?.errors
          "
        >
          <nz-form-explain>
            <span>请输入别名!</span>
          </nz-form-explain>
        </div>
      </nz-form-item>
    </form>
    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="onCancelEdit()">
        取消
      </button>
      <button
        nz-button
        nzType="primary"
        [nzLoading]="isSaving"
        (click)="onSaveEdit()"
      >
        保存
      </button>
    </ng-template>
  </nz-modal>
</div>
